@font-face {
  font-family: "Bouncy";
  src: url("/src/assets/fonts/Bouncy-Thin.otf");
}

.chatroomheader {
  width: 864px;
  height: 50px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.chatroomheader p {
  font-family: Bouncy;
  font-size: 20px;
}

.back-button {
  background-image: url("/src/assets/image/back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
  border: none;
  cursor: pointer;
  width: 33px;
  height: 33px;
  margin-left: 25px;
}
