/*.containerrr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.horizontal-rectangless {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-rectangles {
  margin-left: 20px;
}*/
