.container {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.horizontal-rectangles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-rectangles > * {
  margin-bottom: 20px;
}

.vertical-rectangle {
  margin-left: 20px;
}

