@font-face {
	font-family: "Bouncy";
	src: url("../fonts/Bouncy-Thin.otf");
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/*img {
  display: inline-block;  
}*/

.button {
    font-family: Bouncy;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    border: none;
    background-color: #e2e2e2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 25%;
    left: auto;
    width: 205px;
    height: 77px;
    line-height: 77px;
    border-radius: 25px;
}

a.button {
  text-decoration: none;
  color: #000000;
}