@font-face {
  font-family: "Bouncy";
  src: url("../fonts/Bouncy-Thin.otf");
}

.lobby-round-button {
  font-family: Bouncy;
  font-size: 15px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 25px;
  color: #000000;
  cursor: pointer;
  width: 116px;
  height: 28px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.menu-button {
  background-image: url("/src/image/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
  border: none;
  cursor: pointer;
  width: 33px;
  height: 33px;
  margin-right: 25px;
  position: relative;
  display: flex;
}
