.user-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 367px;
  height: 683px;
  border-radius: 25px;
  background-color: #fcfcfc;
  margin-left: 10px;
}

.user-profile {
  display: flex;
  position: relative;
  background-color: #fcfcfc;
  width: 367px;
  height: 150px;
  border-radius: 25px;
  top: 0px;
  left: 0px;
}

.user-list {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
  top: 20px;
  left: 30px;
}
.banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: Bouncy;
  font-size: 14px;
  background-color: #fcfcfc;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.chatuser-banner {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 7px;
  font-family: Bouncy;
  font-size: 14px;
  background-color: transparent;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.dot-green {
  width: 8px;
  height: 8px;
  background-color: #bfff8c;
  border-radius: 50%;
  border: none;
}

.dot-gray {
  width: 8px;
  height: 8px;
  background-color: #e9e9e9;
  border-radius: 50%;
  border: none;
}

.dot-yellow {
  width: 8px;
  height: 8px;
  background-color: #fbe38f;
  border-radius: 50%;
  border: none;
}

.gold-crown {
  background-image: url("/src/image/gold.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
  border: none;
  cursor: pointer;
  width: 12px;
  height: 9px;
  position: relative;
  display: flex;
}

.silver-crown {
  background-image: url("/src/image/silver.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
  border: none;
  cursor: pointer;
  width: 12px;
  height: 9px;
  position: relative;
  display: flex;
}
