.user-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 367px;
  height: 683px;
  border-radius: 25px;
  background-color: #fcfcfc;
  margin-left: 10px;
}

.user-profile {
  display: flex;
  position: relative;
  background-color: #fcfcfc;
  width: 367px;
  height: 150px;
  border-radius: 25px;
  top: 0px;
  left: 0px;
}

.user-list {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
  top: 20px;
  left: 30px;
}

.user-banner {
  display: flex;
  align-items: center;
  font-family: Bouncy;
  font-size: 14px;
  text-align: center;
  background-color: #fcfcfc;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.user-banner img {
  margin-right: 8px;
}
